.product-table{
    width: 65%;
    margin: 0 auto;
    margin-top: 1rem;
    border: 1px solid;
    border-collapse: collapse;
}

.product-header-table{
    background-color: var(--tertiary-color);
    color: var(--accent-color);
}

.product-header-table th {
    padding: 8px 12px;
    border-right: 1px solid ;
}

.product-data-table td{
    padding: 8px 12px;
    
}
.product-data-table tr td {
    text-align: center;
    border: 1px solid var(--accent-color);
}

.product-edit-icon{
    cursor: pointer;
    font-size: 20px;
}

.product-edit-icon:hover{
    color: var(--secondary-color);
}

.product-delete-icon{
    cursor: pointer;
    font-size: 20px;
}

.product-delete-icon:hover{
    color: red;
}

.empty-product-basket{
    padding: 1rem;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    border: 1px solid var(--tertiary-color);
    width: 65%;
    margin: 10% auto;
    height: 200px;
    background-color: var(--tertiary-color);
}
.empty-product-basket-icon{
    font-size: 36px;
    background-color: gray;
}

.loading-message{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.loading-point {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  margin-left: 10px;
  animation: animate_balls 1.2s infinite ease-in-out;
  display: inline-block;
}

/* Delay each dot individually */
.loading-point:nth-child(1) {
  animation-delay: 0s;
}

.loading-point:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-point:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes animate_balls {
  0%, 80%, 100% {
    transform: translateY(0);
    opacity: 0.3;
  }

  40% {
    transform: translateY(-10px);
    opacity: 1;
  }
}

