@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Erica+One&family=Kumbh+Sans&family=Nunito:wght@300&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* colors */
  --primary-color : #fff0f6;
  --secondary-color: #009181;
  --tertiary-color: #f3cddd;
  --accent-color  : #42363b;

  /* font size */
   --base-font-size: 1rem;
}
body{
  font-family: 'Kumbh Sans', sans-serif;
}

.btn {
  border: none;
  padding: 8px 10px;
  font-family: "Kumbh Sans";
  cursor: pointer;
}

